Source: xpu-smi
Section: devel
Priority: optional
Maintainer: Pedro Kopper <pedro.kopper@canonical.com>
Build-Depends:
 debhelper (>= 11),
 autoconf,
 automake,
 cmake,
 doxygen,
 git,
 libpciaccess-dev,
 libtool,
 liblua5.2-0,
 libudev-dev,
 pkgconf,
 python3-dev,
 python3-pip,
 libze-dev,
 libigsc-dev,
 libigsc0,
Standards-Version: 4.3.0
Homepage: https://github.com/intel/xpumanager

Package: xpu-smi
Architecture: amd64
Depends:
 libze1 (>= 1.17.6),
 intel-gsc (>=0.9.3),
 libze-intel-gpu1 (>=1.3.23726),
 ${shlibs:Depends},
 ${misc:Depends}
Recommends:
 intel-metrics-discovery (>=1.10.141), 
 intel-metrics-library (>=1.0.76)
Suggests:
 libmfx-tools (>=22.5.0), 
 intel-media-va-driver-non-free (>=22.5.0),
 libmfxgen1 (>=22.5.0)
Description: Intel(R) XPU System Management Interface(xpu-smi) is a free and
 open-source solution built on top of the Intel(R) oneAPI Level Zero interface
 for monitoring and managing Intel Data Center GPUs. It is a fully-fledged
 solution for GPU administration, location and topology, telemetry, diagnostics,
 firmware updating, and GPU configuration. It supports local command line
 interface and local library call interface for third-party solution integration.
